In [5]:
# import packages
import numpy as np
import pandas as pd

In [ ]:
# create dataframes
user_history = pd.read_csv('user_fulfillment_history.csv')
weekly_orders = pd.read_csv('weekly_orders.csv')
weekly_user_pop = pd.read_csv('weekly_user_population.csv')

In [12]:
# check the size
print "size of user_history:",user_history.shape
print "size of weekly_orders:",weekly_orders.shape
print "size of weekly_user_pop:",weekly_user_pop.shape

size of user_history: (1629730, 3)
size of weekly_orders: (9, 2)
size of weekly_user_pop: (1356423, 3)

In [6]:
# look at the user history data
# remember the week index is relative to user's sign up!
user_history.head(10)

                                    user_id  week_index  was_shipped
0  ce5af017002483b7086e78d808cd936c2fb718ba           7            1
1  1bc670e7150897357762e56c906cb3bb78a6476e           7            1
2  c4facee283b89242e064c77cf851fbddac11b61b           7            0
3  528d17a6d18526f2507edeec7e97da20a4f6c176           7            0
4  9e5cf731e07e48ee65b7c75c44777c99721a4a7a           7            0
5  9e8ad0e1328f3e199071e1d8e5866423a5ddd5e2           7            0
6  d9fb728264f11f0036773852cb3a3caa9bbe4c30           7            1
7  22a8640fddfb90668d41eb74919bf5d8834bdda7           7            0
8  f89aa09b0e3002d952d5694971a337ae507761fc           7            0
9  838b5f82680d3344d2e7094a85d29b81c5488cf9           7            0

In [31]:
# Check the number of rows for each user
# All users have 10 weeks of historical data
user_history['user_id'].value_counts(ascending=True)

b6a50aa179ce2d54ed589fb37efd927b7cc4b4d4    10
9af0285c4792e89c454c268705f5f5c3e864b00b    10
6b50fc0ea9b8556cd69b6f69dad058876122a63f    10
53564cd8dfb5b95717347fce94e8880e2ae382ad    10
f68948509bbc5cdbdbd1c857f595673a3276026a    10
34d493a5f99ccff6ad51b5db3f953ae3feb90653    10
cee56f438bd3a1b3f669f5ae5ac9563c52877206    10
7b75d528dc3788938f7c3d2eb3c10a2ebb1f4de1    10
a7fb0a5dcc5551a56a16ceb9b6b27855658be010    10
7934538f5f552762d8f15bf232696eeb6e145cdb    10
673de5dea0848fae0d3026d3a6813c755f4c2624    10
b11c65553b11a09152fc12359c68d9ad6f320901    10
11b1eea316144a4468a35ea2e30a0b8daed9c484    10
6809c6713371ef8eed4c1e71a48fe8583685f9fc    10
891abd61ca54e549b727ccdc8051bded97b8f722    10
62721b87964004bf4f69bfc8ff53957e804481b9    10
76bb3856bf15cab9993f5b452144a60c5a8793cb    10
22767a7658c5f82b20cb5f9b86ca59e7c076bd4c    10
b6beb41a9d9311fdef5d92641f3bd3a2d04ca582    10
9eab5dca8d914de34e25e86c71679cbb76a05d25    10
9595387fa8dfa443f6c91dadf09d9dfb616394c8    10
8f272bca48af148f2ffbc7fe655b7fbfefaace8a    10
e7bc278f1a4623479103d28d8e34fc641a48c46f    10
84d559224a9aa557b67785659ba16ef24e282d7f    10
8c72cb311ffa7112c68aad7c5a3099258ae27a2f    10
855e693d43492803bc5d18fa24ef52895841824e    10
49a626be3e2c4dc72c2679d4ab6a235612172f3a    10
ff7e58dc1484ff0f436fac0fda9830a23526e92d    10
b67ae29e15101d2582511d769ece66c9f56084a4    10
f3b130598c5c51cf64a1a8b6124d8f359dea0371    10
                                            ..
20a8e5edb09e90a1c7ff6118f6a2a3b888ebc919    10
2b8af9b1ed23fcac531bffd7386c62b6c6329abd    10
16215a4571ad7d5b66368c60d867fb31e49fa67e    10
4009be684ac8cd3fc64e26bace9db62b9ccfd9e7    10
de4317c13efaa256f30a9e952e54f0b6b7263118    10
04befd03b225f237272cdcca97c2c5f07ff5b2c2    10
257d62a0137ef8e35e7eb0113a37e46a9699bfec    10
7cdecd62521f44c3e0be4ab76d9fc7d374d093aa    10
944fda56815525b68b66fd9aa90e4b13348186f2    10
7db45f5821dc28ff720cea82b8c78f25487f9b0e    10
503e956d0bb71fa46e4778b8dfa49c1eea50b936    10
21ff2fc02611a3d76472713512efc58e671033f6    10
0931474c5d292b9a2abf2627f72a2a18368c8aa2    10
e23e374dc547b9a93139fb5f7a9df8a50f9236a4    10
4bc5181da9552f67194c8756b24e753972412dcb    10
c2ddfbcb1118ef1e50c07f82e3fe383d2125dfbf    10
694f4f1100428e55bb99330d336585af2780ad59    10
28d5f132ea7136320ef2897bb3f7d725d4e2160d    10
569085e3225a53024fd4bc4de5e2f6ff77ecf9db    10
dc88548836ca087fa1bb965d12885321362d90a1    10
a417fd5fb4635cf2d33b8aaf11d299cb77f4d215    10
f7933c50592701cd3f8361189660bb7176cae35d    10
f7d2e9395f12f77b55d3d7b7d7cc751599f15d31    10
bb899f5c3679ef4d91f59de966f1ae5c0162e219    10
354e64cdb417f37ff58d79db89110978797a2ef2    10
0cbc66dc03e81d71727cb54c2a452f60f5cf0ae1    10
8aaa216be54be2263ed646bcb07421ce6429b9e0    10
b747fa8c72d4bc109503dad161f89fba1b5144e1    10
0a3f2aa8e8687b00255169d9a4aff3430da12eeb    10
7e0618abd0be3ac1fb62b79c17227c1d62211c30    10
dtype: int64

In [37]:
# check out one user
# looks good. I wonder why the first week is 0. It seems weird to sign up and skip your first week, right?
# Maybe no one gets a delivery in their first week?
user_history[user_history['user_id'] == 'b6a50aa179ce2d54ed589fb37efd927b7cc4b4d4'].sort('week_index')

                                          user_id  week_index  was_shipped
1589613  b6a50aa179ce2d54ed589fb37efd927b7cc4b4d4           1            0
414294   b6a50aa179ce2d54ed589fb37efd927b7cc4b4d4           2            1
1551587  b6a50aa179ce2d54ed589fb37efd927b7cc4b4d4           3            1
196694   b6a50aa179ce2d54ed589fb37efd927b7cc4b4d4           4            1
220948   b6a50aa179ce2d54ed589fb37efd927b7cc4b4d4           5            1
32381    b6a50aa179ce2d54ed589fb37efd927b7cc4b4d4           6            1
837219   b6a50aa179ce2d54ed589fb37efd927b7cc4b4d4           7            1
158518   b6a50aa179ce2d54ed589fb37efd927b7cc4b4d4           8            1
541557   b6a50aa179ce2d54ed589fb37efd927b7cc4b4d4           9            1
592601   b6a50aa179ce2d54ed589fb37efd927b7cc4b4d4          10            1

In [38]:
# Nope, most users got their order the first week. I guess it's a timing issue or customers opt-out for some reason.
# Other interesting things to note - there's a continuous drop-off in ordering, but it's biggest at week 2
user_history.groupby(['week_index','was_shipped']).size()

week_index  was_shipped
1           0               48027
            1              114946
2           0               83434
            1               79539
3           0              101371
            1               61602
4           0              111223
            1               51750
5           0              117389
            1               45584
6           0              122355
            1               40618
7           0              124038
            1               38935
8           0              126000
            1               36973
9           0              128599
            1               34374
10          0              131155
            1               31818
dtype: int64

In [13]:
# look at the weekly user data
weekly_user_pop.head(10)

  week_id                                   user_id  user_age
0       F  7372ddc490196340f648714b0296738fe8d6b37a         1
1       F  4e2a2719587033e34fc63ef36418d61511f8e84b         1
2       C  410b04481e2a365cf30c7ba36e8ec10ffac00fd1         1
3       H  008fceb71435634bb3a029b60e2b448cb383ccac         1
4       B  89b7f1d4da4d0216c41cbc3c7b72f82006e00106         1
5       B  b318441cc549d19878eace21dce807cd11e9567c         1
6       H  78d9e4ed6170fe575a459811147d50d5faa11ecc         1
7       G  a9e50146bcbf132dec17169ce5681abf6332bf1b         1
8       G  c41788a2229ccba498386908eb592d66ce9de938         1
9       I  627c4a1b779da3e79c7c78a5abd96c2e447ec9cf         1

In [30]:
# check the frequency by user
# users have between 1 and 18 weeks worth of history. Is that right?
weekly_user_pop['user_id'].value_counts(ascending=True)

3819a2cb2b728ccb7924c754b9f6134a6cda3e1d     1
b4ba79cde0ba51505e4958604c82f90928320349     1
a10b7765bb9b0954a92ecab829293a0fb46eb48b     1
1d61eaffe76816e6c74c54105bd52628e8d35c62     1
38fe0d603a07de5f62c9882291aac79a46f5dce0     1
6db9f0f46d58cc78a2eca736023571f427a6b7be     1
b6cbe37dd59ea52822e9ae372a6ceab50c03a492     1
310e77356a190e45671e3cfdb5e0c671c19177b3     1
f64a8ee2c6e0356a449143eff698fb984ed81ef3     1
f3454e750fb02d9bb59a0961c92d6bdb36870065     1
6fe1394a846223fc32a374ff974903755269cfd2     1
f1a079e5f4f184e2ce3229a4962cbe26c3251c1f     1
936cf5251ade09d378aa9f13f1415e6c2980d1c0     1
83ea30d0f749c918688a35afefeff9a5f943afaf     1
ca8b617055edc06b8a3dc0075b1ded98e4d1df6c     1
4e214d23e24eae37ad427af415afa04844e788b9     1
d0c191a8d656b84597b9c822fa8864fca27c6420     1
3f3c70dbc7fed240d49731fa5dee603eb10c9b07     1
1ebe5201232d80ffc06f76e6bc9aca9e97d10cd4     1
8cbc0f45db0acccf85ac8bede7355249ad846f54     1
2bb65fc89b410163440d6205b3b2da4fa9f7538a     1
d9c80c773a407926f15532dbee9c35d5f2999982     1
60deb1d8d9fe5d451d6bc253e18738668b62a5ea     1
e302ecc3049b55c6f4bdb9db5e594afff6a5e240     1
e82f29a92c6e885d030ba472ad800d95621dda69     1
9651de738e76ba21f2f6d255600b7f38bd2ee2af     1
9f6a664c177f8e3dbaf4fc955bb0e7d5804662a6     1
682f63fbbf51fee96d4e829ad14c3f641b248d23     1
f8b760fb3232fe7da9e765b44c502f3d5db8172f     1
232166c8fa7b60c66fdc1ef11802fece9760101a     1
                                            ..
f323a2afee2f4140ca61c04b8784066c75a28ae2    18
4318e448e422ae722c0380a6d7412151c79b5645    18
6130ffb754555ed2563957f7c2ef3ab7df4113a3    18
c518177a5331a512da94226d682960a56f436347    18
9e7478662f39ad1bdd145933c165c14097aea560    18
38a9c7bc1e523af629e1baaf3ca6afb6edd66697    18
c776d6c5456e13031efb807e3aa67e4137b7a3bb    18
536545264ba0939f39b1e778337c71f1aaa4a293    18
eea6220cbf03656302265dfcec71642d887395a9    18
0f3aeb7e9d1a3dbd13dd6223bae330e3306a39a2    18
08ac7859f9d224c7b7770b5d9c51a4015aae835e    18
c4b96e90caff15b001aaf58af2cd05752cd1a662    18
058232a91d80caa5546a757e9d97a728c2d41d7a    18
de31a01553b014fe54382005b34d427e89a715f3    18
6a40f49ddaa13f6835280e8063a7cef22b2a080a    18
b8b0bb424ef540baa4fada16ac5a98121090bab3    18
6b9ca794325e7783ecd6fff9042552db4f5ee699    18
aff06ee4c14e891baf9b28b294bdd86f83159270    18
c261adb597594689837ffbe4575fb1eaefe06471    18
5c8192f0c4bd4e358c686ec959cb2755285ee0d3    18
1c75f11c77243ef5cbee08724a4c8974c210fc77    18
49c3dbfd135bdc3765c1709e30621fcd88389277    18
4aedde325ec95d8b368c0c6271c716d5d56a6b78    18
38aa4ef65758caf9e1ea60412e8bd9f9d86f956f    18
aecc886f78fcbed24c621783682e07959fc61a28    18
f8bfe76b203df1011d21c07f5e315587b121304c    18
030425b87342cede8f477e90960e387bd2a01589    18
4b6a1977efbc2720ef13a397800ebc3bf70de811    18
283d3cf123871fec609c0737794867b1df4ccab4    18
764c337820d220da546dd681bd9648b261ad08e9    18
dtype: int64

In [35]:
# Look at one of the users that has 18 entries
# Huh that's weird - looks like duplicates
weekly_user_pop[weekly_user_pop['user_id'] == 'f323a2afee2f4140ca61c04b8784066c75a28ae2'].sort('user_age')

      week_id                                   user_id  user_age
73977       A  f323a2afee2f4140ca61c04b8784066c75a28ae2         5
73970       A  f323a2afee2f4140ca61c04b8784066c75a28ae2         5
73982       B  f323a2afee2f4140ca61c04b8784066c75a28ae2         6
73978       B  f323a2afee2f4140ca61c04b8784066c75a28ae2         6
73968       C  f323a2afee2f4140ca61c04b8784066c75a28ae2         7
73972       C  f323a2afee2f4140ca61c04b8784066c75a28ae2         7
73971       D  f323a2afee2f4140ca61c04b8784066c75a28ae2         8
73976       D  f323a2afee2f4140ca61c04b8784066c75a28ae2         8
73974       E  f323a2afee2f4140ca61c04b8784066c75a28ae2         9
73975       E  f323a2afee2f4140ca61c04b8784066c75a28ae2         9
73966       F  f323a2afee2f4140ca61c04b8784066c75a28ae2        10
73981       F  f323a2afee2f4140ca61c04b8784066c75a28ae2        10
73965       G  f323a2afee2f4140ca61c04b8784066c75a28ae2        11
73969       G  f323a2afee2f4140ca61c04b8784066c75a28ae2        11
73979       H  f323a2afee2f4140ca61c04b8784066c75a28ae2        12
73973       H  f323a2afee2f4140ca61c04b8784066c75a28ae2        12
73967       I  f323a2afee2f4140ca61c04b8784066c75a28ae2        13
73980       I  f323a2afee2f4140ca61c04b8784066c75a28ae2        13

In [32]:
# how many weeks are there total?
# 9 so anyone with more than 9 weeks must have duplicates
weekly_user_pop['week_id'].value_counts(ascending=True)

A    123374
B    130879
C    137852
D    144918
E    151756
F    159025
G    165033
H    169548
I    174038
dtype: int64

In [49]:
# remove the duplicates - this function should only remove exact copies which will verify my theory
weekly_user_pop_dedupe = weekly_user_pop.drop_duplicates()

In [48]:
# check the counts on the new dataframe with the biggest at the top
# 9 is the max as expected
weekly_user_pop_dedupe['user_id'].value_counts(ascending=False)

70bc09934ed82bf921562c580c3b4c78c1a544dc    9
f311f1a9d1887d85c93c20943698dbf1a989da69    9
2cd05981241e7d295e59dc95b1355dbb96c6ee00    9
c81e686d2c75db3fe43ecfec4c1fed2775e94c48    9
8c18ea8d39f7b39c82be0947bf06637e78fa9991    9
0eace660ce9a789749a83af30457a09356a67e85    9
4986f1076a26289039b168a84905f9ab93723cab    9
44e1cff812570fbb9c76497b38428885ee2c09d3    9
8a87be37225cc246dc10c2336fabf62a8df3bac4    9
76ab12b84da103d2c41ba50e0bed8695d994dcc8    9
1a199031e3daa9a55f25d49ef77041767e3dc11d    9
bf5d794313f7ba4b785962bc28afeb09fa5d56ba    9
e9d0a5c1bec7dd6c8c2e07bff4e7efbc5ce5b937    9
950b7156954b0687fd697f6e818d6fa4f7e0c524    9
7ba06d95faf4046f97bd87fba062307521f33ce0    9
138621b58389d30df867afa49c2019305a29bff9    9
cb3bfb0b184eea5241c8dbb96eb142698eb3ecc5    9
cd3e5ef84fe75ed43cf9580fa2ffb99e498f13bd    9
22c8b87a5e22a005d0f7beab50ac100fffb53efc    9
1bdc2a16d598b9575ec4515445b911bd6399901b    9
7ed7dfe2a0ca271e0b1fb57d7b251f0a8bd340ad    9
ddf9d43683b0b5bfbd6ae40f26275184f7076fa4    9
5235761b839a1ffe0953041e1aae4a8212155983    9
3cd8a7a33e812863653e35d2b6a26137a7aa50b9    9
4a33db9b3d5434ff774980ccffdeffaea5c76c48    9
cd7175ebfb8d0b3cb18be93b73ce2c1d9119e5cb    9
cf643a5503a02d2777494d145e3e3926f9326206    9
7b4b055f76957e57d45efcefbd1dd2ee7500472d    9
9a3b3b90c22db1b72af5af42330448cf946f9327    9
d11533230d6a31bb38ff326c5f6371bfdddb2bd6    9
                                           ..
71e81c5eefeb52cc7ee921b09318ae80bca52766    1
1706abd616f99be43f8da04d4ddfca25745e0d08    1
4ad8c8cde1c8f3f7fe7dea2d7ba8595a9457d8de    1
13eed46aa5d255ef29fe72b9bf4390c7688b9a88    1
9d4f802778149000689857662e4131d31a4f177c    1
26dd5d5206f309d9b9b35a178048eeb97d925ec7    1
350613de88a6bd926f3cdae06a3a9cf902df7924    1
a122d671715512bd0b5fc5187fdb8b58d11c5b3b    1
5a11d2cbe1a3a15bed1009df1dcd106197b74150    1
978f90e9a55304948143b0247acca68f349cc7e1    1
bb9cddb710deb61260bbdf06a61a0d40eb1be801    1
8ab429ebd23d5d35296ae5527e7286ffed1e5cd0    1
de8196db847402df4f30f10b7c0f9d6db7a6da44    1
40efd1698bd45047fc46510edc6c41a26e3679ac    1
9669fbbb258ef690e691869d8b164b2af4c9848b    1
cdb5509a5c280387b1219266a3f1b927a154eed4    1
f46f57fbf240c568a5fa8daef62a952a29c7cd8f    1
8083c716afce0bba36e85c58fd2a8f8b9b48fd6f    1
d2723d9aa3c124b7468597150971edffe58f46d1    1
0b246ba936dfd72cda4b02c239867d6e6bf86f7b    1
37226bb021f178d107f601c11d011435ac5cf615    1
fb3a667282f44f51d4457b9f5516dd11c1ee0288    1
590cf390e370a2530474fad91808d5b40498888e    1
dcd6eb64d16349da42ce4cda4303ced258f89ea9    1
0ec813dbfc0e0a4b6829a96091de03f513980f20    1
7e43592ae43a9c690a2e400f257507023999fc5e    1
d174ffa75aa4586afd691f55e2b8ca965b668938    1
f41910212ea14f1b61418b6e140501f40e817aeb    1
5a2b7c14545be229010f47ba7d5339ac75636eb8    1
2956719c2e536888d8e64b2185b06b5a9be9b176    1
dtype: int64

In [52]:
# value_counts only includes non-missings so let's see if there's missing data in the weekly user pop
# no missings
weekly_user_pop_dedupe.isnull().sum()

week_id     0
user_id     0
user_age    0
dtype: int64

In [91]:
# try the same on the user history
# none here either
user_history.isnull().sum()

user_id        0
week_index     0
was_shipped    0
dtype: int64

In [50]:
# look at weekly orders, should be a tiny dataset
weekly_orders

  week_id  total_orders
0       A         45743
1       B         46911
2       C         50322
3       D         51109
4       E         52755
5       F         53490
6       G         57781
7       H         58330
8       I         54857

In [86]:
# Are the users the same in the two datasets?
# Get unique users from both
weekly_users_only = pd.DataFrame(weekly_user_pop_dedupe['user_id'].drop_duplicates())
history_users_only = pd.DataFrame(user_history['user_id'].drop_duplicates())
print "size of weekly_users_only:",weekly_users_only.shape
print "size of history_users_only:",history_users_only.shape

size of weekly_users_only: (194229, 1)
size of history_users_only: (162973, 1)

In [129]:
# Combine them using an inner join to see the overlap
# So there's 60k with at least one week in common
combined_users = pd.merge(weekly_users_only, history_users_only, on='user_id', how='inner')
print "size of combined_users:",combined_users.shape

 size of combined_users: (61693, 1)